<nav  class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#" style="color:#ffffff; font-weight: 600; font-size: 22px;"><img src="/assets/img/bunny-logo.svg" style="height: 45px;"> Bunny Coffee &nbsp; |</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" style="color: #fffa9a; font-weight:500">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #fffa9a; font-weight:500">
          Mais
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/produtos"> Nossos produtos</a>
          <a class="dropdown-item" routerLink="/produtos/cadastrar">Localização</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" >Sair</button>
    </form>
  </div>
</nav>
