<div class="titulo">
  <img src="/assets/img/cafe-da-manha.png">
  <h1>Nossos Produtos</h1>
</div>



<div class="products">
  <div class="card" style="width: 18rem;">
    <img src="/assets/img/bunny3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Usagi Coffee</h5>
      <p class="card-text">R$ 30,00</p>
      <a href="#" class="btn btn-primary">Experimente!</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/img/bunny5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tokki Coffee</h5>
      <p class="card-text">R$ 45,00</p>
      <a href="#" class="btn btn-primary">Experimente!</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/img/bunny6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bunny Coffee</h5>
      <p class="card-text">R$ 35,00</p>
      <a href="#" class="btn btn-primary">Experimente!</a>
    </div>
  </div>
</div>
