::ng-deep body{
  overflow-y: hidden;
  overflow-x: hidden ;
}

.titulo{
  margin-left: 3%;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.titulo img{
  height: 40px;
  width: 40px;
}

.products{
  width: 900px;
  margin-left: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 11%;
  justify-content: space-between;
}

img{
  border-radius: 20px 20px 0 0;
}

.card{
  border-radius: 20px;
}

